.card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: auto;
}
.card img {
  max-width: 100%;
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}